body {
  background: #fafafa;
}

#img {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  position: relative;
  display: flex;
  width:15vw;
  background: rgb(255, 255, 255);
  border-right: 1px solid rgb(189, 175, 175);
}

.conteudoLateralDireita {
  background: rgb(255, 255, 255);
  width:20vw;
}

.conteudoCentral {
  width:65vw;
  background: rgb(255, 255, 255);
}


li{
  list-style-type: none;
  padding: 15px;
}

ul{
  padding: 0;
}

.profile{
  position: absolute ;
  bottom: 0;
}